% rebase('baza.html')

<div class="notification is-primary">
    DODAJANJE SKLADBE
</div>
<p>Z * označena polja so obvezna.</p>
<p class="has-text-danger">
    {{napake.get("skladba")}}
</p>
<form method="POST" action="/dodaj_skladbo/" Class="box">
    <div class="field">
        <label class="label">Naslov</label>
        <p class="has-text-danger">*</p>
        <div class="control">
            <input class="input" type="text" name="naslov" placeholder="npr. Libertango">
        </div>
        <p class="has-text-danger">
            {{napake.get("naslov")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Avtor</label>
        <p class="has-text-danger">*</p>
        <div class="control">
            <input class="input" type="text" name="avtor" placeholder="npr. Astor Piazzolla">
        </div>
        <p class="has-text-danger">
            {{napake.get("avtor")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Link</label>
        <div class="control">
            <input class="input" type="url" name="link" placeholder="Vnesi povezavo na posnetek skladbe">
        </div>
    </div>

    <div class="field">
        <label class="label">Opombe</label>
        <div class="control">
            <input class="input" type="text" name="opomba" placeholder="Vnesi opombe">
        </div>
    </div>

    <div class="field">
        <label class="label">Pazi</label>
        <div class="control">
            <input class="input" type="text" name="pazi" placeholder="npr. V tretjem taktu na prvi strani pazi na prstni red!">
        </div>
    </div>

    <div class="field">
        <label class="label">Slike not</label>
        <div class="control">
            <input multiple class="input" type="file" name="pdf" placeholder="Priloži slike">
        </div>
    </div>

    <br>
    <div class="columns">
        <div class="column is-2">
            <div class="control">
                <button class="button is-link">
                    <imput type="submit">
                        Dodaj
                    </imput>
                </button>
            </div>
        </div>
        <div class="column is-2">
            <div class="control">
                <a class="button is-link is-light" href="/skladbe/">Prekliči</a>
            </div>
        </div>
    </div>   
</form>