% rebase('baza.html')

<div class="notification is-primary">
    DODAJANJE SKLOPA VAJ
</div>
<p>Z * označena polja so obvezna.</p>
<p class="has-text-danger">
    {{napake.get("sklop")}}
</p>
<form method="POST" action="/dodaj_sklop/" Class="column is-4">
    <div class="field">
        <label class="label">Naslov<p class="has-text-danger">*</p></label>
        <div class="control">
            <input class="input" type="text" name="ime" placeholder="npr. Upevanje">
        </div>
        <p class="has-text-danger">
            {{napake.get("ime")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Opis</label>
        <div class="control">
            <input class="input" type="text" name="opis" placeholder="Vnesi kratek opis sklopa vaj.">
        </div>
    </div>

    <div class="field">
        <label class="label">Vaje</label>
        % if vaje:
        <div class="control">
            <select name="vaje_izbira" multiple size="4">
                % for indeks, vaja in enumerate(vaje):
                <option value={{indeks}}>{{vaja.opis}}</option>
                % end
            </select>
        </div>
        % end
        <br>
        <p>
            <a href="/vaje/">Dodaj nove vaje.</a>
        </p>
    </div>

    <br>
    <div class="columns">
        <div class="column">
            <div class="control">
                <button class="button is-link">
                    <imput type="submit">
                        Dodaj
                    </imput>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <a class="button is-link is-light" href="/vaje/">Prekliči</a>
            </div>
        </div>
    </div>   
</form>