% rebase('baza.html')

<div class="notification is-primary">
    DODAJANJE DOGODKA
    <p>Z * označena polja so obvezna.</p>
</div>

<form method="POST" action="" Class="box">
    <div class="field">
        <label class="label">Naslov dogodka</label>
        <p class="has-text-danger">*</p>
        <div class="control">
            <input class="input" type="text" name="kaj" placeholder="npr. Nastop">
        </div>
        <p class="has-text-danger">
            {{napake.get("kaj")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Datum</label>
        <p class="has-text-danger">*</p>
        <div class="control">
            <input class="input" type="date" name="kdaj" placeholder="npr. 2020-11-21">
        </div>
        <p class="has-text-danger">
            {{napake.get("kdaj")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Ura</label>
        <div class="control">
            <input class="input" type="time" name="ura" placeholder="Vnesi opombe">
        </div>
    </div>

    <div class="field">
        <label class="label">Lokacija</label>
        <div class="control">
            <input class="input" type="text" name="kje" placeholder="npr. Vrabčeva dvorana">
        </div>
    </div>

    <div class="field">
        <label class="label">Opombe</label>
        <div class="control">
            <input class="input" type="text" name="opombe" placeholder="npr. Ne pozabi na uniformo!">
        </div>
    </div>

    <div class="field">
        <label class="label">Skladbe</label>
        % if skladbe:
        <div class="control">
            <select name="skladbe_izbira" multiple size="4">
                % for indeks, skladba in enumerate(skladbe):
                <option value={{indeks}}>{{skladba.naslov}}</option>
                % end
            </select>
        </div>
        % end
        <br>
        <p>
            <a href="/dodaj_skladbo/">Dodaj nove skladbe.</a>
        </p>
    </div>

    <br>
    <div class="columns">
        <div class="column is-2">
            <div class="control">
                <button class="button is-link">
                    <imput type="submit">
                        Dodaj
                    </imput>
                </button>
            </div>
        </div>
        <div class="column is-2">
            <div class="control">
                <a class="button is-link is-light" href="/vaje/">Prekliči</a>
            </div>
        </div>
    </div>   
</form>