% rebase('baza.html')

<div class="notification is-primary">
    DODAJANJE ZAPISKA
</div>
<p>Z * označena polja so obvezna.</p>
<form method="POST" action="" Class="column is-4">
    <div class="field">
        <label class="label">Predmet</label>
        <p class="has-text-danger">*</p>
        <div class="control">
            <input class="input" type="text" name="predmet" placeholder="npr. kitara">
        </div>
        <p class="has-text-danger">
            {{napake.get("predmet")}}
        </p>
    </div>

    <div class="field">
        <label class="label">Datum</label>
        <div class="control">
            <input class="input" type="date" name="datum" placeholder="npr. 2020-12-31">
        </div>
    </div>

    <div class="field">
        <label class="label">Učitelj</label>
        <div class="control">
            <input class="input" type="text" name="ucitelj" placeholder="npr. Janez Novak">
        </div>
    </div>

    <div class="field">
        <label class="label">Vsebina</label>
        <div class="control">
            <input class="input" type="text" name="vsebina" placeholder="Vnesi vsebino lekcije">
        </div>
    </div>

    <div class="field">
        <label class="label">Skladbe</label>
        % if skladbe:
        <div class="control">
            <select name="skladbe_izbira" multiple size="4">
                % for indeks, skladba in enumerate(skladbe):
                <option value={{indeks}}>{{skladba.naslov}}</option>
                % end
            </select>
        </div>
        % end
        <br>
        <p>
            <a href="/dodaj_skladbo/">Dodaj nove skladbe.</a>
        </p>
    </div>

    <br>
    <div class="columns">
        <div class="column">
            <div class="control">
                <button class="button is-link">
                    <imput type="submit">
                        Dodaj
                    </imput>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <a class="button is-link is-light" href="/zapiski/">Prekliči</a>
            </div>
        </div>
    </div>
</form>