% rebase('osnova.html)
<div class="tabs is-centered">
    <ul>
        <li class="is-active">
            <a>
                <span class="icon is-small"><i class="fas fa-album-collection" aria-hidden="true"></i></span>
                <span>Skladbe</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-list-music" aria-hidden="true"></i></span>
                <span>Zapiski</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-calendar" aria-hidden="true"></i></span>
                <span>Dogodki</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fas fa-book-open" aria-hidden="true"></i></span>
                <span>Zbirka vaj</span>
            </a>
        </li>
    </ul>
</div>