% rebase('baza.html')

% rebase('baza.html')

<article class="message is-primary">
  <div class="message-header">
    <p>Pozdravljeni!</p>
  </div>
  <div class="message-body">
        Dobrodošli v svoji glasbeni beležki. 
        Tukaj lahko shranjujete vse informacije, ki so za glasbenika najpomembnejše - beležka ima prostor za skladbe, zapiske, vaje in dogodke, na katere ne želite pozabiti. Želim vam prijetno uporabo, Klara
  </div>
</article>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title" href="/zapiski/">Zapiski</p>
          <div class="content">
            tukaj bodo zapiski
          </div>
        </article>
        <article class="tile is-child notification is-warning" >
          <p class="title" href="/vaje/">Zbirka vaj</p>
          <div class="content">
            tukaj bodo vaje
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <p class="title" href="/skladbe/">Skladbe</p>
        <div class="content">
          tukaj bodo skladbe
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title" href="/dogodki/">Dogodki</p>
        <div class="content">
          tukaj bodo dogodki
        </div>
      </div>
    </article>
  </div>
</div>