% rebase('baza.html')

<div class="block">
    <h1 class="title">Skladbe</h1>
</div>

<div>
    <p>Naučene skladbe: {{razmerje}}%</p>
    <br>
    <progress class="progress is-warning" value="{{razmerje}}" max="100">{{razmerje}}%</progress>
    <br>
</div>


<div class="block">
    <button class="button is-rounded is-link is-light">
        <span class="icon is-small">
            <i class="fas fa-plus"></i>
        </span>
        <a href="/dodaj_skladbo/"> Dodaj skladbo </a>
    </button>
</div>

<div class="box">
    <article class="tile is-primary">
        <p class="subtitle">Število vseh skladb: <button class="button is-static is-rounded">
                {{st_skladb}} </button> 
        </p>
        <br>
    </article>
    <div class="content">
        <div class="columns is-multiline is-mobile is-centered">
            % if skladbe:
                % for indeks, skladba in enumerate(skladbe):
                <div class="column is-narrow">
                    <div class="box">
                        <p><strong>{{skladba.naslov}}</strong>
                            <br>
                            <i>{{skladba.avtor}}</i> 
                            <br>
                            <form method="POST" action="/nauceno/">
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <button class="button is-small is-rounded is-light is-warning">
                                    <p>Naučeno&nbsp;&nbsp;
                                        <span class="icon is-small">
                                            % if skladba.nauceno:
                                            <i class="far fa-check-square"></i>
                                            % else:
                                            <i class="far fa-square"></i>
                                            % end
                                        </span>
                                    </p>
                                </button>
                            </form>
                        </p>
                        % if skladba.link:
                        <p><strong>Link:</strong> <a href="{{skladba.link}}">klikni tukaj!</a></p>
                        % end
                        % if skladba.opombe:
                        <p><strong>Opombe:</strong> {{skladba.opombe}}</p>
                        %end
                        % if skladba.pazi:
                        <p><strong>Pazi:</strong> {{skladba.pazi}} </p>
                        % end
                        % if skladba.oznake:
                        <ul>
                            % for oznaka in skladba.oznake:
                            <li>{{oznaka}}</li>
                            %end
                        </ul>
                        % end
                        % if skladba.pdf:
                            %for page in skladba.pdf:
                            <figure class="image is-4by3">
                                <img src="page" alt="page">
                            </figure>
                            % end
                        % end
                        <form method="POST" action="/izbrisi_skladbo/">
                            <button class="button is-rounded is-danger is-small is-light">
                                <span class="icon is-small">
                                    <i class="fas fa-minus"></i>
                                </span>
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <input type="submit" value="Izbriši">
                            </button>
                        </form>
                    </div>
                </div>
                % end
        </div>
        % else:
        <div>
            <p>Nimate še shranjenih skladb.</p>
        </div>
        %end
    </div>
</div>
