% rebase('baza.html')

<div class="block">
    <h1 class="title">Vaje</h1>
</div>

<div class="block">
    <p><a href="/sklopi/">Nazaj na sklope vaj</a></p>
</div>

<div class="box">
    <article class="tile is-primary">
        <p class="subtitle">Število vseh vaj: <button class="button is-static is-rounded">
                {{st_vaj}} </button>
        </p>
        <br>
    </article>
    
    <div class="block">
        <div class="notification is-primary">
            DODAJANJE VAJE
        </div>
        <p>Z * označena polja so obvezna.</p>
        <p class="has-text-danger">
            {{napake.get("vaja")}}
        </p>
        <form method="POST" action="/dodaj_vajo/" Class="box">
            <div class="field">
                <label class="label">Opis<p class="has-text-danger">*</p></label>
                <div class="control">
                    <input class="input" type="text" name="opis" placeholder="Vnesi kratek opis vaje.">
                </div>
                <p class="has-text-danger">
                    {{napake.get("opis")}}
                </p>
            </div>
        
            <br>
            <div class="columns">
                <div class="column is-2">
                    <div class="control">
                        <button class="button is-link">
                            <imput type="submit">
                                Dodaj
                            </imput>
                        </button>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="control">
                        <a class="button is-link is-light" href="/vaje/">Prekliči</a>
                    </div>
                </div>
            </div>   
        </form>
    </div>

    <div class="content">
        <div class="box">
            % if vaje:
                % for indeks, vaja in enumerate(vaje):
                <ul>
                    <li>
                        <p><strong>{{vaja.opis}}</strong></p>
                        <form method="POST" action="/izbrisi_vajo/">
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input type="hidden" name="indeks" value="{{indeks}}">
                                    <input class="input is_danger is-rounded is-narrow is-small" type="submit"
                                        value="Izbriši">
                                    <span class="icon is-left is-small">
                                    <i class="fas fa-minus"></i>
                                    </span>
                                </p>
                            </div>
                        </form>
                    </li>
                </ul>
                % end
            % else:
            <div>
                <p>Nimate še shranjenih vaj.</p>
            </div>
            %end
        </div>
    </div>
</div>