% rebase('baza.html')

<div class="block">
    <h1 class="title">Zapiski</h1>
</div>

<div class="block">
    <button class="button is-rounded is-link is-light">
        <span class="icon is-small">
            <i class="fas fa-plus"></i>
        </span>
        <a href="/dodaj_zapisek/"> Dodaj zapisek </a>
    </button>
</div>

<div class="box">
    <article class="tile is-primary">
        <p class="subtitle">Število vseh zapiskov: <button class="button is-static is-rounded">
                {{st_zapiskov}} </button> 
        </p>
        <br>
    </article>
    <div class="content">
        <div class="columns is-multiline is-mobile is-centered">
            % if zapiski:
                % for indeks, zapisek in enumerate(zapiski):
                <div class="column is-narrow">
                    <div class="box">
                        <p><strong>{{zapisek.predmet}}</strong>
                            <br>
                            <i>{{zapisek.ucitelj}}</i> 
                            <br>
                        </p>
                        % if zapisek.datum:
                        <p><strong>Datum:</strong>{{zapisek.datum}}</p>
                        % end
                        % if zapisek.vsebina:
                        <p><strong>Vsebina:</strong> {{zapisek.vsebina}}</p>
                        %end
                        % if zapisek.skladbe:
                        <ul>
                            % for skladba in zapisek.skladbe:
                            <li>{{skladba.naslov}}</li>
                            %end
                        </ul>
                        % end
                        <form method="POST" action="/izbrisi_skladbo/">
                            <button class="button is-rounded is-danger is-light">
                                <span class="icon is-small">
                                    <i class="fas fa-minus"></i>
                                </span>
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <input type="submit" value="Izbriši">
                            </button>
                        </form>
                    </div>
                </div>
                % end
        </div>
        % else:
        <div>
            <p>Nimate še shranjenih zapskov.</p>
        </div>
        %end
    </div>
</div>
